<section class="cover text-center">
  <img src="https://s3-media1.fl.yelpcdn.com/bphoto/8UphMMym-RX7peVzheWoQQ/ls.jpg" alt="logo" class="center"
    height="500px" width="500px">
  <!-- <div id="overlay"></div> -->
  <div class="nav-container">
    <div class="nav-row">
      <div class="nav-logo">
        <a routerLink="/home">

          <div class="nav-logo-image nav-logo-image-white" alt="CodeDifferently">
          </div>
        </a>
      </div>
      <div class="nav-controls">
        <a *ngFor="let item of navItems" routerLink="{{item.link}}"> {{ item.title }} </a>
      </div>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
      }

      #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
    </style>

