<section class="cover text-center">
    <img src="https://s3-media1.fl.yelpcdn.com/bphoto/8UphMMym-RX7peVzheWoQQ/ls.jpg" alt="logo" class="center"  height="700px" width="700px">
  <!-- <div id="overlay"></div> -->
  <div class="nav-container">
    <div class="nav-row">
      <div class="nav-logo">
        <a routerLink="/home">
          
          <div class="nav-logo-image nav-logo-image-white" alt="CodeDifferently">
          </div>
        </a>
      </div>
      <div class="nav-controls">
        <a *ngFor="let item of navItems" routerLink="{{item.link}}"> {{ item.title }} </a>
      </div>
    </div>
  </div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
</style>



  <div class="cover-container pb-5">
    
    <div class="cover-inner container">
      <p style="color: black"> Candy Connections is an award winning, small business established by husband and wife duo, Anthony and Daneya Jacobs, in 2014. The family-owned and operated pop up candy shop specializes in freshly made cotton candy and Italian ice. Candy Connections carries unique cotton candy flavors including but not limited to green apple, lemonade, grape soda, and unicorn birthday cake, to name a few
        . Candy Connections can be found in the Christiana Mall seasonally from April 1st- September 30th. 

          As a recipient of the 2017 Delaware’s Happening List for best candy store, Candy Connections’ achievements extend beyond providing nostalgic treats for the family. Daneya was a recipient of Delaware Today’s Women in Business Award. Together, the couple have shared on several business panels and visited schools to inspire the next generation to pursue their dreams through entrepreneurial workshops. 
          
          Candy Connections is passionate about serving the entire family. In 2018, Anthony and Daneya formed a non-profit as an extension of their work with Candy Connections to provide yearly intergenerational family events with intentional spaces to create memorable and joyous moments. The Candy Family, an affectionate name for the Candy Connections owners, understand first hand how busy life can get and the importance of creating sweet memories along the way. 
          
          You can count on Candy Connections to produce freshly spun cotton candy daily and mouth watering italian ice. To learn more about The Candy Family, their sweet deals,  and memorable family events and birthday party packages, become a part of the candy family by joining their mailing list at www.candyconnectionsinc.com. Like them on Facebook and follow them on Instagram for real time information.</p>
      
    </div>

 


